#
# Lora-AT
#
CONFIG_AT_UART_PORT_NUM=0
CONFIG_AT_UART_RX_PIN=-1
CONFIG_AT_UART_TX_PIN=-1
CONFIG_AT_UART_BAUD_RATE=115200
CONFIG_AT_UART_BUFFER_LENGTH=1024
CONFIG_PIN_OLED_SDA=21
CONFIG_PIN_OLED_SDL=22
CONFIG_PIN_OLED_RESET=-1
CONFIG_PIN_CS=18
CONFIG_PIN_MOSI=27
CONFIG_PIN_MISO=19
CONFIG_PIN_SCK=5
CONFIG_PIN_DIO0=26
CONFIG_PIN_DIO1=33
CONFIG_PIN_DIO2=32
CONFIG_PIN_RESET=23
CONFIG_MIN_FREQUENCY=25000000
CONFIG_MAX_FREQUENCY=1700000000
CONFIG_BLUETOOTH_CONNECTION_TIMEOUT=30000
CONFIG_BLUETOOTH_RECONNECTION_INTERVAL=5000

#
# Wi-Fi
#
CONFIG_AT_WIFI_ENABLED=n
CONFIG_ESP_WIFI_SSID=""
CONFIG_ESP_WIFI_PASSWORD=""
CONFIG_ESP_MAXIMUM_RETRY=5
CONFIG_ESP_WIFI_AUTH=ESP_WIFI_AUTH_WPA2_PSK
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n
CONFIG_LWIP_DHCP_GET_NTP_SRV=y
CONFIG_AT_API_USERNAME=""
CONFIG_AT_API_PASSWORD=""

#
# Sensors
#
CONFIG_SENSORS_ENABLED=n
CONFIG_SOLAR_I2C_INA219_ADDR=0
CONFIG_BATTERY_I2C_INA219_ADDR=0
CONFIG_I2C_MASTER_SDA=21
CONFIG_I2C_MASTER_SCL=22

#
# Bluetooth
#
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_CONTROLLER_ENABLED=y

#
# Power profiling
#
CONFIG_BLUETOOTH_POWER_PROFILING=-1
CONFIG_SX127X_POWER_PROFILING=-1

#
# Bootloader
#
CONFIG_BOOTLOADER_SKIP_VALIDATE_IN_DEEP_SLEEP=y
CONFIG_BOOTLOADER_LOG_LEVEL=1
CONFIG_BOOTLOADER_LOG_LEVEL_ERROR=y
CONFIG_BOOTLOADER_COMPILER_OPTIMIZATION_PERF=y

#
# ESP System Settings
#
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_80=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=80

#
# Log output
#
CONFIG_LOG_DEFAULT_LEVEL_ERROR=y
CONFIG_LOG_DEFAULT_LEVEL=1
CONFIG_LOG_MAXIMUM_LEVEL_INFO=y
CONFIG_LOG_MAXIMUM_LEVEL=3

#
# Compiler
#
CONFIG_COMPILER_OPTIMIZATION_PERF=y
