#
# Lora-AT
#
CONFIG_AT_UART_PORT_NUM=0
CONFIG_AT_UART_RX_PIN=-1
CONFIG_AT_UART_TX_PIN=-1
CONFIG_AT_UART_BAUD_RATE=115200
CONFIG_AT_UART_BUFFER_LENGTH=1024
CONFIG_PIN_OLED_SDA=21
CONFIG_PIN_OLED_SDL=22
CONFIG_PIN_OLED_RESET=-1
CONFIG_PIN_CS=18
CONFIG_PIN_MOSI=27
CONFIG_PIN_MISO=19
CONFIG_PIN_SCK=5
CONFIG_PIN_DIO0=26
CONFIG_PIN_DIO1=33
CONFIG_PIN_DIO2=32
CONFIG_PIN_RESET=23
CONFIG_MIN_FREQUENCY=25000000
CONFIG_MAX_FREQUENCY=1700000000
CONFIG_BLUETOOTH_CONNECTION_TIMEOUT=30000
# end of Lora-AT

#
# Bluetooth
#
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_CONTROLLER_ENABLED=y

#
# Power profiling
#
CONFIG_BLUETOOTH_POWER_PROFILING=-1
CONFIG_SX127X_POWER_PROFILING=-1