#
# Lora-AT
#
CONFIG_PIN_OLED_SDA=4
CONFIG_PIN_OLED_SDL=15
CONFIG_PIN_OLED_RESET=16
CONFIG_PIN_CS=18
CONFIG_PIN_MOSI=27
CONFIG_PIN_MISO=19
CONFIG_PIN_SCK=5
CONFIG_PIN_DIO0=26
CONFIG_PIN_DIO1=35
CONFIG_PIN_DIO2=34
# end of Lora-AT