menu "AT Handler"
    config AT_UART_PORT_NUM
        int
        default 0
        prompt "UART number. Can be 0,1,2"
    config AT_UART_BAUD_RATE
        int
        default 115200
        prompt "UART baud rate"
    config AT_UART_BUFFER_LENGTH
        int
        default 1024
        prompt "UART buffer for RX and TX"
endmenu