menu "SX127X"
    config PIN_CS
        int
        default 18
        prompt "CS pin"
    config PIN_MOSI
        int
        default 27
        prompt "MOSI pin"
    config PIN_MISO
        int
        default 19
        prompt "MISO pin"
    config PIN_SCK
        int
        default 5
        prompt "SCK pin"
    config PIN_DIO0
        int
        default 26
        prompt "DIO0 pin"
endmenu